* {
  font-family: 'Open sans', sans-serif;
  color: #747462;
}

BODY {
  margin: 5% 10% 5% 10%;
  background-color: #C6C6A9;
}

button {
  border-radius: 5px;
  background: #BBC378;
}

.delete-button {
  margin-top: 0.7em;
}

.column-main {
  max-width: 80%;
  background-color: white;
  padding: 5% 5% 5% 5%;
  border-radius: 3px;
}

label {
  padding-right: 1em;
}

input {
  margin-right: 1em;
  border-radius: 3px;
}

.input-container {
  position: relative;
}

.input-label {
  float: left;
  width: 5em;
}

.input-field {
  margin-bottom: 0.5em;
}

.list-item {
  clear: both;
}

.item-field {
  width: 35%;
  float: left;
  border-radius: 3px;
  background-color: #BBC378;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0em;
}
